<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>Bestlunch</display-name>

    <servlet>
        <servlet-name>restaurantServlet</servlet-name>
        <servlet-class>ua.bestlunch.web.RestaurantServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>restaurantServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>